submodules/gcwii-resources/
submodules/lilyskategc/
submodules/gamecube-examples/
submodules/solstice/**
submodules/guy/
submodules/beanwii/
submodules/lily-gamecube-roms/
.claude/
private/
target/
**/target/
**/pkg/
**/pkg-dbg/
_site/
docs/
roms/
.git/
*.svg
*.png
*.iso
*.gcm
*.wbfs
*.rvz
*.dol
*.bin
*.log
*.txt
*.i64
*.idb
perf.*
stdout.txt
out.txt
*.pdb
fs/

# IPL HLE binary needed at compile time
!submodules/solstice/ipl/
!submodules/solstice/ipl/hle/
!submodules/solstice/ipl/hle/ipl/
!submodules/solstice/ipl/hle/ipl/gc_custom_ipl.bin
